	#contact-area {
        padding: 0;
        margin: 0 auto;
        width:100%;
        height:auto;
    }
 
    .contact-box {
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 5px 5px 5px;
        background-color: #fff;
        border-radius: 6px;
        height:auto;
    }
 
    .contact-box input {
        /* height: 50px; */
        border: 1px solid #f7f6f5;
        font-size: 15px;
        background-color: #f7f6f5;
        font-weight: 500;
    }
 
    .contact-box textarea {
        border: 1px solid #f7f6f5;
        /* padding-top: 10px; */
        background-color: #f7f6f5;
        font-size: 15px;
        font-weight: 500;
    }
 
    /* .contact-box button {
        background-color: #325eff;
        width:auto;
        border: 0;
        color: #fff;
        padding: 7px 11px;
        border-radius: 4px;
        cursor: pointer;
        outline: 0;
        font-weight: 500;
        font-size: 15px;
        margin: 0 auto;
    } */
 
    .contact-box button:hover {
        background-color: #0f39cf;
    }
    #pblish-comment{
    	width: 100%;
    	margin-bottom: 10px;
    }
    .well.well-no-margin{
    	margin-bottom: 10px;
    }
    #articleComment {
		width: 99%;
		margin:0 auto;
	}
	#ajax-contact-web-reply{
		margin: 4px 12px;
	}
	.comment-lw{
		width:100%;
		margin: 5px auto 0;
		/* background: #c5c5c533; */
	}
	.comment-lw .comment-main{
		display: flex;
		flex-direction: row;
	}
	.user-logo{
		display: block;
    	width: 4em;
    	flex:0 0 4em;
		margin: 4px;
	}
	.user-logo img{
		display: block;
	    margin: 0em auto;
	    width: 3em;
	    height: 3em;
	    border-radius: 500px;
	}
	.comment-content{
		border-top: 1px solid #88c3b6;
		flex:1 1 auto;
		width: auto;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: normal;
		word-break: break-word;
	}
	.comment-content .comment-info{
		text-decoration: none;
		font-size: 1.1em;
	}
	.comment-content .comment-info > a{
		text-decoration: none;
		font-size: 1.1em;
		padding: 2px 5px 2px 0;
		color: #7e7e7e;
	}
	.comment-content .comment-info > span{
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: normal;
	}
	.comment-content .comment-text{
		font-size: 1.2em;
		padding-top: 3px;
		padding-bottom: 3px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: normal;
	}
	.comment-content .comment-text .replyuser{
		font-size: 1em;
		color: #7dacb8;
	}
	.comment-content .comment-text > p{
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: normal;
		height:auto;
		padding: 0;
		margin: 0;
	}
	.comment-content .comment-action{
		padding-top: 4px;
	}
	.comment-content .comment-action a{
		text-decoration: none;
		color: #bdbdbd;
		font-size: 1.1em;
	}
	.comments-lw{
		padding-left: 1.6em;
		/* margin-left: 1em; */
	}
@media screen and (max-width: 767px){
	/* .comment-lw{
		width:100%;
		margin: 5px auto 0;
		background: #c5c5c533;
	}
	.comment-lw .comment-main{
		display: flex;
		flex-direction: row;
	}
	.user-logo{
		display: block;
    	width: 4em;
    	flex:0 0 4em;
		margin: 4px;
	}
	.user-logo img{
		display: block;
	    margin: 0em auto;
	    width: 3em;
	    height: 3em;
	    border-radius: 500px;
	}
	.comment-content{
		border-top: 1px solid #88c3b6;
		flex:1 1 auto;
		width: auto;
	}
	.comment-content .comment-info{
		text-decoration: none;
		font-size: 1.1em;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: normal;
	}
	.comment-content .comment-info > a{
		text-decoration: none;
		font-size: 1.1em;
		padding: 2px 5px 2px 0;
		color: #7e7e7e;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: normal;
	}
	.comment-content .comment-info > span{
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: normal;
	}
	.comment-content .comment-text{
		font-size: 1.2em;
		padding-top: 3px;
		padding-bottom: 3px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: normal;
		width: 100%;
	}
	.comment-content .comment-text > p{
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: normal;
		width: 100%;
		height:auto;
	}
	.comment-content .comment-action{
		padding-top: 4px;
	}
	.comment-content .comment-action a{
		text-decoration: none;
		color: #bdbdbd;
		font-size: 1.1em;
	} */
	.comments-lw{
		padding:0;
		/* margin-left: 1em; */
	}
}
	.pagenumber{
		margin-bottom: 10px;
	}
	/* CSS注释： 黑色背景的css分页代码 */ 
.pagenum {
  line-height: 2.7em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
}

.pagenum-btns {
  font-size: 0;
  height:auto;
  border-radius:22px;
  -webkit-border-radius:22px;
  -ms-border-radius:22px;
  -o-border-radius:22px;
  -moz-border-radius:22px;
}

.pagenum-prev, .pagenum-num, .pagenum-active, .pagenum-next, .pagenum-break {
  display: inline-block;
  width: 2.7em;
  text-align: center;
  font-size: 14px;
  color: #8AB3CA;
  border: 1px solid #ced4da;
  border-left: none;
}

  .pagenum-prev:hover, .pagenum-num:hover, .pagenum-active:hover, .pagenum-next:hover {
    text-decoration: none;
    cursor: pointer;
    color: #8AB3CA;
    background-color: #e9ecef;
  }

.pagenum-prev {
  border-left: 1px solid #ced4da;
}

.pagenum-active, .pagenum-active:hover {
  color: #fff;
  background-color: #000000;
}

.pagenum-break {
  color: #ced4da;
}

.pagenum-skip {
  margin-left: 5px;
}

.pagenum-input {
  width: 2.7em;
  text-align: center;
  border: 1px solid #ced4da;
  padding: 0;
  margin: 0 3px;
}

  .pagenum-input:focus {
    outline: 2px solid #8AB3CA;
  }

.pagenum-ok {
  display: inline-block;
  width: 3em;
  text-align: center;
  margin-left: 5px;
  color: #8AB3CA;
  border: 1px solid #ced4da;
}

  .pagenum-ok:hover {
    text-decoration: non
    color: #2f3d46;
    cursor: pointer;
  }

.pagenum.sm {
  font-size: 12px;
}

  .pagenum.sm .pagenum-prev, .pagenum.sm .pagenum-num, .pagenum.sm .pagenum-active, .pagenum.sm .pagenum-next, .pagenum.sm .pagenum-break {
    font-size: 12px;
  }

.pagenum.lg {
  font-size: 16px;
}

  .pagenum.lg .pagenum-prev, .pagenum.lg .pagenum-num, .pagenum.lg .pagenum-active, .pagenum.lg .pagenum-next, .pagenum.lg .pagenum-break {
    font-size: 16px;
  }

.pagenum.xl {
  font-size: 20px;
}

  .pagenum.xl .pagenum-prev, .pagenum.xl .pagenum-num, .pagenum.xl .pagenum-active, .pagenum.xl .pagenum-next, .pagenum.xl .pagenum-break {
    font-size: 20px;
  }

.pagenum.gray .pagenum-prev, .pagenum.gray .pagenum-num, .pagenum.gray .pagenum-active, .pagenum.gray .pagenum-next, .pagenum.gray .pagenum-break, .pagenum.gray .pagenum-prev:hover, .pagenum.gray .pagenum-num:hover, .pagenum.gray .pagenum-active:hover, .pagenum.gray .pagenum-next:hover, .pagenum.gray .pagenum-ok, .pagenum.gray .pagenum-ok:hover {
  color: #6c757d;
}

  .pagenum.gray .pagenum-active, .pagenum.gray .pagenum-active:hover {
    color: #fff;
    background-color: #6c757d;
  }

.pagenum.green .pagenum-prev, .pagenum.green .pagenum-num, .pagenum.green .pagenum-active, .pagenum.green .pagenum-next, .pagenum.green .pagenum-break, .pagenum.green .pagenum-prev:hover, .pagenum.green .pagenum-num:hover, .pagenum.green .pagenum-active:hover, .pagenum.green .pagenum-next:hover, .pagenum.green .pagenum-ok, .pagenum.green .pagenum-ok:hover {
  color: #28a745;
}

  .pagenum.green .pagenum-active, .pagenum.green .pagenum-active:hover {
    color: #fff;
    background-color: #28a745;
  }

.pagenum.red .pagenum-prev, .pagenum.red .pagenum-num, .pagenum.red .pagenum-active, .pagenum.red .pagenum-next, .pagenum.red .pagenum-break, .pagenum.red .pagenum-prev:hover, .pagenum.red .pagenum-num:hover, .pagenum.red .pagenum-active:hover, .pagenum.red .pagenum-next:hover, .pagenum.red .pagenum-ok, .pagenum.red .pagenum-ok:hover {
  color: #dc3545;
}

  .pagenum.red .pagenum-active, .pagenum.red .pagenum-active:hover {
    color: #fff;
    background-color: #dc3545;
  }

.pagenum.yellow .pagenum-prev, .pagenum.yellow .pagenum-num, .pagenum.yellow .pagenum-active, .pagenum.yellow .pagenum-next, .pagenum.yellow .pagenum-break, .pagenum.yellow .pagenum-prev:hover, .pagenum.yellow .pagenum-num:hover, .pagenum.yellow .pagenum-active:hover, .pagenum.yellow .pagenum-next:hover, .pagenum.yellow .pagenum-ok, .pagenum.yellow .pagenum-ok:hover {
  color: #ffc107;
}

  .pagenum.yellow .pagenum-active, .pagenum.yellow .pagenum-active:hover {
    color: #fff;
    background-color: #ffc107;
  }

.pagenum.center {
  text-align: center;
}

.pagenum.right {
  text-align: right;
}